# 1주차 과제
***

## 1. import

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

***
## 2. Object Creation

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [5]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [6]:
dates = pd.date_range('20160101', periods=6)

In [7]:
dates

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [9]:
df

                   A         B         C         D
2016-01-01  0.473781 -1.010233 -1.613558  0.861746
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-03  1.135880  0.033600  0.791142 -0.367876
2016-01-04  0.915352  1.463294  0.795379 -1.050365
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353
2016-01-06  0.894483 -0.399806  0.033455 -1.815952

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                    'B' : pd.Timestamp('20160102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2016-01-02  1.0  3   test  foo
1  1.0 2016-01-02  1.0  3  train  foo
2  1.0 2016-01-02  1.0  3   test  foo
3  1.0 2016-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

***
## 3. Viewing Data

In [16]:
df.head()

                   A         B         C         D
2016-01-01  0.473781 -1.010233 -1.613558  0.861746
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-03  1.135880  0.033600  0.791142 -0.367876
2016-01-04  0.915352  1.463294  0.795379 -1.050365
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353

In [19]:
df.tail(3)

                   A         B         C         D
2016-01-04  0.915352  1.463294  0.795379 -1.050365
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353
2016-01-06  0.894483 -0.399806  0.033455 -1.815952

In [20]:
df.index

DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [22]:
df.values

array([[ 0.47378111, -1.01023331, -1.61355829,  0.86174647],
       [-0.86274581, -0.80550745,  1.24440583, -1.16715474],
       [ 1.13588008,  0.0335995 ,  0.79114223, -0.36787644],
       [ 0.91535247,  1.4632942 ,  0.79537924, -1.05036511],
       [-0.43001868, -0.11197368, -1.3867348 ,  0.18835337],
       [ 0.89448285, -0.39980561,  0.03345472, -1.81595213]])

In [23]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.354455 -0.138438 -0.022652 -0.558541
std    0.815853  0.879678  1.210927  0.980286
min   -0.862746 -1.010233 -1.613558 -1.815952
25%   -0.204069 -0.704082 -1.031687 -1.137957
50%    0.684132 -0.255890  0.412298 -0.709121
75%    0.910135 -0.002794  0.794320  0.049296
max    1.135880  1.463294  1.244406  0.861746

In [24]:
df.T

   2016-01-01  2016-01-02  2016-01-03  2016-01-04  2016-01-05  2016-01-06
A    0.473781   -0.862746    1.135880    0.915352   -0.430019    0.894483
B   -1.010233   -0.805507    0.033600    1.463294   -0.111974   -0.399806
C   -1.613558    1.244406    0.791142    0.795379   -1.386735    0.033455
D    0.861746   -1.167155   -0.367876   -1.050365    0.188353   -1.815952

In [25]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2016-01-01  0.861746 -1.613558 -1.010233  0.473781
2016-01-02 -1.167155  1.244406 -0.805507 -0.862746
2016-01-03 -0.367876  0.791142  0.033600  1.135880
2016-01-04 -1.050365  0.795379  1.463294  0.915352
2016-01-05  0.188353 -1.386735 -0.111974 -0.430019
2016-01-06 -1.815952  0.033455 -0.399806  0.894483

In [26]:
df.sort_values(by='B')

                   A         B         C         D
2016-01-01  0.473781 -1.010233 -1.613558  0.861746
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-06  0.894483 -0.399806  0.033455 -1.815952
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353
2016-01-03  1.135880  0.033600  0.791142 -0.367876
2016-01-04  0.915352  1.463294  0.795379 -1.050365

***
## 4. Selection
### 4.1. Getting

In [27]:
df['A']

2016-01-01    0.473781
2016-01-02   -0.862746
2016-01-03    1.135880
2016-01-04    0.915352
2016-01-05   -0.430019
2016-01-06    0.894483
Freq: D, Name: A, dtype: float64

In [28]:
df[0:3]

                   A         B         C         D
2016-01-01  0.473781 -1.010233 -1.613558  0.861746
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-03  1.135880  0.033600  0.791142 -0.367876

In [31]:
df['20160102':'20160104']

                   A         B         C         D
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-03  1.135880  0.033600  0.791142 -0.367876
2016-01-04  0.915352  1.463294  0.795379 -1.050365

### 4.2. Selection by Label

In [32]:
df.loc[dates[0]]

A    0.473781
B   -1.010233
C   -1.613558
D    0.861746
Name: 2016-01-01 00:00:00, dtype: float64

In [33]:
df.loc[:,['A','B']]

                   A         B
2016-01-01  0.473781 -1.010233
2016-01-02 -0.862746 -0.805507
2016-01-03  1.135880  0.033600
2016-01-04  0.915352  1.463294
2016-01-05 -0.430019 -0.111974
2016-01-06  0.894483 -0.399806

In [34]:
df.loc['20160102':'20160104', ['A','B']]

                   A         B
2016-01-02 -0.862746 -0.805507
2016-01-03  1.135880  0.033600
2016-01-04  0.915352  1.463294

In [35]:
df.loc['20160102',['A','B']]

A   -0.862746
B   -0.805507
Name: 2016-01-02 00:00:00, dtype: float64

In [36]:
df.loc[dates[0],'A']

0.47378111247419763

In [37]:
df.at[dates[0],'A']

0.47378111247419763

### 4.3. Selection by Position

In [38]:
df.iloc[3]

A    0.915352
B    1.463294
C    0.795379
D   -1.050365
Name: 2016-01-04 00:00:00, dtype: float64

In [39]:
df.iloc[3:5,0:2]

                   A         B
2016-01-04  0.915352  1.463294
2016-01-05 -0.430019 -0.111974

In [40]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2016-01-02 -0.862746  1.244406
2016-01-03  1.135880  0.791142
2016-01-05 -0.430019 -1.386735

In [41]:
df.iloc[1:3,:]

                   A         B         C         D
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155
2016-01-03  1.135880  0.033600  0.791142 -0.367876

In [42]:
df.iloc[:,1:3]

                   B         C
2016-01-01 -1.010233 -1.613558
2016-01-02 -0.805507  1.244406
2016-01-03  0.033600  0.791142
2016-01-04  1.463294  0.795379
2016-01-05 -0.111974 -1.386735
2016-01-06 -0.399806  0.033455

In [43]:
df.iloc[1,1]

-0.80550745262783097

In [44]:
df.iat[1,1]

-0.80550745262783097

### 4.4. Boolean Indexing

In [45]:
df[df.A > 0]

                   A         B         C         D
2016-01-01  0.473781 -1.010233 -1.613558  0.861746
2016-01-03  1.135880  0.033600  0.791142 -0.367876
2016-01-04  0.915352  1.463294  0.795379 -1.050365
2016-01-06  0.894483 -0.399806  0.033455 -1.815952

In [46]:
df[df > 0]

                   A         B         C         D
2016-01-01  0.473781       NaN       NaN  0.861746
2016-01-02       NaN       NaN  1.244406       NaN
2016-01-03  1.135880  0.033600  0.791142       NaN
2016-01-04  0.915352  1.463294  0.795379       NaN
2016-01-05       NaN       NaN       NaN  0.188353
2016-01-06  0.894483       NaN  0.033455       NaN

In [47]:
df2 = df.copy()

In [48]:
df2['E'] = ['one', 'one','two','three','four','three']

In [49]:
df2

                   A         B         C         D      E
2016-01-01  0.473781 -1.010233 -1.613558  0.861746    one
2016-01-02 -0.862746 -0.805507  1.244406 -1.167155    one
2016-01-03  1.135880  0.033600  0.791142 -0.367876    two
2016-01-04  0.915352  1.463294  0.795379 -1.050365  three
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353   four
2016-01-06  0.894483 -0.399806  0.033455 -1.815952  three

In [50]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2016-01-03  1.135880  0.033600  0.791142 -0.367876   two
2016-01-05 -0.430019 -0.111974 -1.386735  0.188353  four

### 4.4. Setting

In [54]:
s1 = pd.Series([1,2,3,4,5,6], index = pd.date_range('20160102', periods=6))

In [55]:
s1

2016-01-02    1
2016-01-03    2
2016-01-04    3
2016-01-05    4
2016-01-06    5
2016-01-07    6
Freq: D, dtype: int64

In [56]:
df['F'] = s1

In [57]:
df.at[dates[0],'A'] = 0

In [58]:
df.iat[0,1] = 0

In [59]:
df.loc[:,'D'] = np.array([5] * len(df))

In [60]:
df

                   A         B         C  D    F
2016-01-01  0.000000  0.000000 -1.613558  5  NaN
2016-01-02 -0.862746 -0.805507  1.244406  5  1.0
2016-01-03  1.135880  0.033600  0.791142  5  2.0
2016-01-04  0.915352  1.463294  0.795379  5  3.0
2016-01-05 -0.430019 -0.111974 -1.386735  5  4.0
2016-01-06  0.894483 -0.399806  0.033455  5  5.0

In [61]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2016-01-01  0.000000  0.000000 -1.613558 -5  NaN
2016-01-02 -0.862746 -0.805507 -1.244406 -5 -1.0
2016-01-03 -1.135880 -0.033600 -0.791142 -5 -2.0
2016-01-04 -0.915352 -1.463294 -0.795379 -5 -3.0
2016-01-05 -0.430019 -0.111974 -1.386735 -5 -4.0
2016-01-06 -0.894483 -0.399806 -0.033455 -5 -5.0

***
## 5. Missing Data

In [64]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])

In [65]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [66]:
df1

                   A         B         C  D    F    E
2016-01-01  1.000000  0.000000 -1.613558  5  NaN  1.0
2016-01-02 -0.862746 -0.805507  1.244406  5  1.0  1.0
2016-01-03  1.135880  0.033600  0.791142  5  2.0  NaN
2016-01-04  0.915352  1.463294  0.795379  5  3.0  NaN

In [67]:
df1.dropna(how='any')

                   A         B         C  D    F    E
2016-01-02 -0.862746 -0.805507  1.244406  5  1.0  1.0

In [68]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2016-01-01  1.000000  0.000000 -1.613558  5  5.0  1.0
2016-01-02 -0.862746 -0.805507  1.244406  5  1.0  1.0
2016-01-03  1.135880  0.033600  0.791142  5  2.0  5.0
2016-01-04  0.915352  1.463294  0.795379  5  3.0  5.0

In [69]:
pd.isnull(df1)

                A      B      C      D      F      E
2016-01-01  False  False  False  False   True  False
2016-01-02  False  False  False  False  False  False
2016-01-03  False  False  False  False  False   True
2016-01-04  False  False  False  False  False   True

***
## 6. Operations
### 6.1. Stats

In [70]:
df.mean()

A    0.442158
B    0.029934
C   -0.022652
D    5.000000
F    3.000000
dtype: float64

In [71]:
df.mean(1)

2016-01-01    1.096610
2016-01-02    1.115231
2016-01-03    1.792124
2016-01-04    2.234805
2016-01-05    1.414255
2016-01-06    2.105626
Freq: D, dtype: float64

In [72]:
s = pd.Series([1,3,5,np.nan,6,8], index=dates).shift(2)

In [73]:
s

2016-01-01    NaN
2016-01-02    NaN
2016-01-03    1.0
2016-01-04    3.0
2016-01-05    5.0
2016-01-06    NaN
Freq: D, dtype: float64

In [74]:
df.sub(s, axis='index')

                   A         B         C    D    F
2016-01-01       NaN       NaN       NaN  NaN  NaN
2016-01-02       NaN       NaN       NaN  NaN  NaN
2016-01-03  0.135880 -0.966400 -0.208858  4.0  1.0
2016-01-04 -2.084648 -1.536706 -2.204621  2.0  0.0
2016-01-05 -5.430019 -5.111974 -6.386735  0.0 -1.0
2016-01-06       NaN       NaN       NaN  NaN  NaN

### 6.2. Apply

In [75]:
df.apply(np.cumsum)

                   A         B         C   D     F
2016-01-01  1.000000  0.000000 -1.613558   5   NaN
2016-01-02  0.137254 -0.805507 -0.369152  10   1.0
2016-01-03  1.273134 -0.771908  0.421990  15   3.0
2016-01-04  2.188487  0.691386  1.217369  20   6.0
2016-01-05  1.758468  0.579413 -0.169366  25  10.0
2016-01-06  2.652951  0.179607 -0.135911  30  15.0

In [76]:
df.apply(lambda x: x.max() - x.min())

A    1.998626
B    2.268802
C    2.857964
D    0.000000
F    4.000000
dtype: float64

### 6.3. Histogramming

In [77]:
s = pd.Series(np.random.randint(0, 7, size=10))

In [78]:
s

0    4
1    5
2    4
3    1
4    5
5    3
6    4
7    1
8    4
9    1
dtype: int32

In [79]:
s.value_counts()

4    4
1    3
5    2
3    1
dtype: int64

### 6.4. String Methods

In [80]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])

In [81]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

***
## 7. Merge
### 7.1. Concat

In [82]:
df = pd.DataFrame(np.random.randn(10, 4))

In [83]:
df

          0         1         2         3
0  0.051788  0.632310  0.879183  0.974627
1 -1.122499 -0.341731 -1.715339 -0.410024
2  0.459130 -1.845439 -1.938700 -0.978315
3  0.659026  1.176290  0.455632  0.305390
4  1.664813  2.698741 -0.547621  0.148605
5  0.509675  1.533627 -0.474595  0.580227
6 -1.088350 -1.216523  0.467385 -0.130395
7  0.565695  0.388232  0.985281 -0.863274
8  0.156349 -0.491624  0.002537 -1.130115
9 -0.552068  0.781136 -0.173374  1.668902

In [84]:
pieces = [df[:3], df[3:7], df[7:]]

In [85]:
pd.concat(pieces)

          0         1         2         3
0  0.051788  0.632310  0.879183  0.974627
1 -1.122499 -0.341731 -1.715339 -0.410024
2  0.459130 -1.845439 -1.938700 -0.978315
3  0.659026  1.176290  0.455632  0.305390
4  1.664813  2.698741 -0.547621  0.148605
5  0.509675  1.533627 -0.474595  0.580227
6 -1.088350 -1.216523  0.467385 -0.130395
7  0.565695  0.388232  0.985281 -0.863274
8  0.156349 -0.491624  0.002537 -1.130115
9 -0.552068  0.781136 -0.173374  1.668902

### 7.2. Join

In [86]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})

In [87]:
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})

In [88]:
left

   key  lval
0  foo     1
1  foo     2

In [89]:
right

   key  rval
0  foo     4
1  foo     5

In [90]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

### 7.3. Append

In [91]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A','B','C','D'])

In [92]:
df

          A         B         C         D
0 -2.020624 -0.649945 -0.572975 -1.509492
1  0.683421 -1.617557 -0.482648  0.894691
2  0.716066 -0.442584  0.522020 -0.118365
3 -0.148666  1.025203 -0.240516  1.946462
4 -0.515639 -0.101377 -0.725282 -0.030552
5 -1.590702 -0.486316 -1.753060  2.383558
6 -0.873169  0.532549  0.796022 -1.454947
7  1.193751  0.037857  1.380871  0.206826

In [93]:
s = df.iloc[3]

In [94]:
df.append(s, ignore_index=True)

          A         B         C         D
0 -2.020624 -0.649945 -0.572975 -1.509492
1  0.683421 -1.617557 -0.482648  0.894691
2  0.716066 -0.442584  0.522020 -0.118365
3 -0.148666  1.025203 -0.240516  1.946462
4 -0.515639 -0.101377 -0.725282 -0.030552
5 -1.590702 -0.486316 -1.753060  2.383558
6 -0.873169  0.532549  0.796022 -1.454947
7  1.193751  0.037857  1.380871  0.206826
8 -0.148666  1.025203 -0.240516  1.946462

***
## 8. Grouping

In [95]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})

In [96]:
df

     A      B         C         D
0  foo    one -1.008255 -1.699649
1  bar    one -0.107767 -0.197108
2  foo    two -0.702865  0.798154
3  bar  three -0.897027 -1.292418
4  foo    two -0.671039  1.342587
5  bar    two -0.372291 -0.964204
6  foo    one -0.593307 -0.260274
7  foo  three  0.620843 -0.604197

In [97]:
df.groupby('A').sum()

            C        D
A
bar -1.377085 -2.45373
foo -2.354623 -0.42338

In [98]:
df.groupby('B').sum()

              C         D
B
one   -1.709329 -2.157031
three -0.276185 -1.896615
two   -1.746194  1.176537

In [99]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.107767 -0.197108
    three -0.897027 -1.292418
    two   -0.372291 -0.964204
foo one   -1.601562 -1.959923
    three  0.620843 -0.604197
    two   -1.373904  2.140741

***
## 9. Reshaping
### 9.1. Stack

In [100]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [101]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

In [102]:
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

In [103]:
df2 = df[:4]

In [104]:
df2

                     A         B
first second
bar   one    -1.619022 -1.692278
      two    -0.013207 -0.159209
baz   one     1.580709  0.862288
      two    -0.128368 -0.820907

In [105]:
df

                     A         B
first second
bar   one    -1.619022 -1.692278
      two    -0.013207 -0.159209
baz   one     1.580709  0.862288
      two    -0.128368 -0.820907
foo   one    -0.435695  0.124127
      two    -0.768662 -0.410103
qux   one     0.871469  2.614684
      two    -0.483106 -0.620923

In [106]:
stacked = df2.stack()

In [107]:
stacked

first  second
bar    one     A   -1.619022
               B   -1.692278
       two     A   -0.013207
               B   -0.159209
baz    one     A    1.580709
               B    0.862288
       two     A   -0.128368
               B   -0.820907
dtype: float64

In [108]:
stacked.unstack()

                     A         B
first second
bar   one    -1.619022 -1.692278
      two    -0.013207 -0.159209
baz   one     1.580709  0.862288
      two    -0.128368 -0.820907

In [109]:
stacked.unstack(1)

second        one       two
first
bar   A -1.619022 -0.013207
      B -1.692278 -0.159209
baz   A  1.580709 -0.128368
      B  0.862288 -0.820907

In [110]:
stacked.unstack(0)

first          bar       baz
second
one    A -1.619022  1.580709
       B -1.692278  0.862288
two    A -0.013207 -0.128368
       B -0.159209 -0.820907

### 9.2. Pivot Tables

In [111]:
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})

In [112]:
df

        A  B    C         D         E
0     one  A  foo -0.246275 -1.070195
1     one  B  foo  0.477048  0.349213
2     two  C  foo -0.623378  1.560844
3   three  A  bar -0.007411 -0.218426
4     one  B  bar  0.029947 -1.487843
5     one  C  bar -0.777067  0.444505
6     two  A  foo  0.534013 -0.560235
7   three  B  foo -0.661050 -0.194110
8     one  C  foo  0.255505  0.226144
9     one  A  bar  0.192658  1.342364
10    two  B  bar  0.391088 -0.042924
11  three  C  bar  0.697549  1.084442

In [113]:
pd.pivot_table(df, values='D', index=['A', 'B'], columns=['C'])

C             bar       foo
A     B
one   A  0.192658 -0.246275
      B  0.029947  0.477048
      C -0.777067  0.255505
three A -0.007411       NaN
      B       NaN -0.661050
      C  0.697549       NaN
two   A       NaN  0.534013
      B  0.391088       NaN
      C       NaN -0.623378

***
## 10. Time Series

In [114]:
rng = pd.date_range('1/1/2016', periods=100, freq='S')

In [115]:
ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

In [116]:
ts.resample('5Min').sum()

2016-01-01    24088
Freq: 5T, dtype: int32

In [117]:
rng = pd.date_range('3/6/2016 00:00', periods=5, freq='D')

In [118]:
ts = pd.Series(np.random.randn(len(rng)), rng)

In [119]:
ts

2016-03-06   -0.619343
2016-03-07   -0.162491
2016-03-08    1.393714
2016-03-09   -0.890372
2016-03-10   -0.720020
Freq: D, dtype: float64

In [120]:
ts_utc = ts.tz_localize('UTC')

In [121]:
ts_utc

2016-03-06 00:00:00+00:00   -0.619343
2016-03-07 00:00:00+00:00   -0.162491
2016-03-08 00:00:00+00:00    1.393714
2016-03-09 00:00:00+00:00   -0.890372
2016-03-10 00:00:00+00:00   -0.720020
Freq: D, dtype: float64

In [122]:
ts_utc.tz_convert('US/Eastern')

2016-03-05 19:00:00-05:00   -0.619343
2016-03-06 19:00:00-05:00   -0.162491
2016-03-07 19:00:00-05:00    1.393714
2016-03-08 19:00:00-05:00   -0.890372
2016-03-09 19:00:00-05:00   -0.720020
Freq: D, dtype: float64

In [123]:
rng = pd.date_range('1/1/2012', periods=5, freq='M')

In [124]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [125]:
ts

2012-01-31   -1.221726
2012-02-29   -0.580112
2012-03-31    0.076303
2012-04-30   -1.027228
2012-05-31   -1.404714
Freq: M, dtype: float64

In [126]:
ps = ts.to_period()

In [127]:
ps

2012-01   -1.221726
2012-02   -0.580112
2012-03    0.076303
2012-04   -1.027228
2012-05   -1.404714
Freq: M, dtype: float64

In [128]:
ps.to_timestamp()

2012-01-01   -1.221726
2012-02-01   -0.580112
2012-03-01    0.076303
2012-04-01   -1.027228
2012-05-01   -1.404714
Freq: MS, dtype: float64

In [129]:
prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')

In [130]:
ts = pd.Series(np.random.randn(len(prng)), prng)

In [131]:
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9

In [132]:
ts.head()

1990-03-01 09:00   -1.958535
1990-06-01 09:00    1.016182
1990-09-01 09:00   -0.960091
1990-12-01 09:00    0.166848
1991-03-01 09:00   -0.669370
Freq: H, dtype: float64

***
## 11. Categoricals

In [133]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})

In [134]:
df["grade"] = df["raw_grade"].astype("category")

In [135]:
df["grade"]

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]

In [136]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

In [137]:
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])

In [138]:
df["grade"]

0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]

In [139]:
df.sort_values(by="grade")

   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good

In [140]:
df.groupby("grade").size()

grade
very bad     1
bad          0
medium       0
good         2
very good    3
dtype: int64

***
## 12. Plotting

In [141]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [142]:
ts = ts.cumsum()

In [143]:
ts.plot()

In [144]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])

In [145]:
df = df.cumsum()

In [146]:
plt.figure(); df.plot(); plt.legend(loc='best')

***
## 13. Getting Data In/Out
### 13.1 CSV

In [147]:
df.to_csv('foo.csv')

In [148]:
pd.read_csv('foo.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01   0.125963  -0.578460   1.042439  -0.794426
1    2000-01-02  -0.676516  -1.292368   0.784075   1.083318
2    2000-01-03  -0.494540  -2.179246   0.066460   4.513711
3    2000-01-04  -0.461766  -2.079718  -0.137835   4.093688
4    2000-01-05  -1.960442  -1.825936   1.171447   6.590814
5    2000-01-06  -1.867356  -1.168478   1.707503   5.274376
6    2000-01-07  -1.828050   0.658011   1.246147   6.083983
7    2000-01-08  -1.570826  -0.238284   1.974935   5.667500
8    2000-01-09  -2.542094  -1.394416   0.548245   5.675005
9    2000-01-10  -1.350773  -1.971715   0.485087   6.380812
10   2000-01-11  -2.791340  -2.073583   0.908680   5.386434
11   2000-01-12  -3.578275  -1.470668   0.936311   5.816716
12   2000-01-13  -4.446706  -3.973214   0.279952   6.096146
13   2000-01-14  -4.551872  -3.562373  -0.184510   5.724160
14   2000-01-15  -4.157203  -3.766302  -0.749773   7.467856
15   2000-01-16  -4.910986  -0.598528   0.526357   7.761042
16   2000-01-17  -3.515805  -1.229725  -1.087933   9.404437
17   2000-01-18  -2.640268  -1.212163  -0.431603   9.161110
18   2000-01-19  -3.225464  -2.956171   0.513889   9.560046
19   2000-01-20  -2.442082  -3.774900   1.089428   8.281341
20   2000-01-21  -1.324239  -3.730762   1.764860   9.196044
21   2000-01-22  -1.155599  -3.567743   2.818899   9.688366
22   2000-01-23  -3.218550  -3.800866   4.523380   9.466009
23   2000-01-24  -2.490423  -2.383205   4.818459  10.073114
24   2000-01-25  -3.441684  -2.687965   4.309607  12.407382
25   2000-01-26  -4.321988  -3.953600   3.558596  11.957462
26   2000-01-27  -5.702061  -3.343025   2.469913  11.601112
27   2000-01-28  -6.528327  -3.781293   1.668154  11.697453
28   2000-01-29  -6.767440  -4.694028   0.856874  13.003760
29   2000-01-30  -7.388600  -4.554101   0.548668  13.747894
..          ...        ...        ...        ...        ...
970  2002-08-28  -7.908278  67.549085   8.481348  55.341907
971  2002-08-29  -8.128910  67.150649   8.817702  55.109688
972  2002-08-30  -8.216664  65.343380   8.530661  55.950869
973  2002-08-31  -9.121734  64.406376   9.017284  55.496892
974  2002-09-01  -8.410777  62.922854   8.238338  54.586776
975  2002-09-02  -8.103669  61.749448  10.218478  53.938747
976  2002-09-03  -9.672449  62.462627  11.039267  52.898175
977  2002-09-04  -9.412903  62.759808  12.007455  52.728789
978  2002-09-05 -10.366034  62.919164  13.183812  54.251448
979  2002-09-06 -10.748470  61.157973  12.813521  53.950311
980  2002-09-07 -11.423547  61.792282  13.519785  54.347509
981  2002-09-08 -12.029402  61.334283  13.374723  52.632623
982  2002-09-09 -12.527795  59.875346  12.863937  53.800697
983  2002-09-10 -13.929847  58.148292  13.128094  52.808896
984  2002-09-11 -14.818756  59.700040  13.229521  51.702282
985  2002-09-12 -15.012070  57.847942  13.606299  52.934429
986  2002-09-13 -13.845210  59.577935  14.005210  50.751627
987  2002-09-14 -14.045836  62.163106  12.932669  49.688364
988  2002-09-15 -14.196020  61.730328  12.832613  48.154940
989  2002-09-16 -15.191746  62.294683  13.856687  49.887823
990  2002-09-17 -15.290523  63.680458  14.309165  49.420372
991  2002-09-18 -16.129355  64.420943  13.183267  48.928589
992  2002-09-19 -14.745993  65.465462  14.336667  50.079375
993  2002-09-20 -15.827745  65.751390  16.602462  50.807834
994  2002-09-21 -13.486618  66.382894  18.519098  52.270327
995  2002-09-22 -13.312867  65.983486  19.445455  52.045869
996  2002-09-23 -15.079412  66.649144  21.053095  50.691459
997  2002-09-24 -14.383469  66.291947  20.801361  50.941442
998  2002-09-25 -16.342273  67.149825  19.704903  49.579112
999  2002-09-26 -15.230032  68.245307  20.457175  48.967932

[1000 rows x 5 columns]

### 13.2. HDF5

In [149]:
df.to_hdf('foo.h5','df')

In [150]:
pd.read_hdf('foo.h5','df')

                    A          B          C          D
2000-01-01   0.125963  -0.578460   1.042439  -0.794426
2000-01-02  -0.676516  -1.292368   0.784075   1.083318
2000-01-03  -0.494540  -2.179246   0.066460   4.513711
2000-01-04  -0.461766  -2.079718  -0.137835   4.093688
2000-01-05  -1.960442  -1.825936   1.171447   6.590814
2000-01-06  -1.867356  -1.168478   1.707503   5.274376
2000-01-07  -1.828050   0.658011   1.246147   6.083983
2000-01-08  -1.570826  -0.238284   1.974935   5.667500
2000-01-09  -2.542094  -1.394416   0.548245   5.675005
2000-01-10  -1.350773  -1.971715   0.485087   6.380812
2000-01-11  -2.791340  -2.073583   0.908680   5.386434
2000-01-12  -3.578275  -1.470668   0.936311   5.816716
2000-01-13  -4.446706  -3.973214   0.279952   6.096146
2000-01-14  -4.551872  -3.562373  -0.184510   5.724160
2000-01-15  -4.157203  -3.766302  -0.749773   7.467856
2000-01-16  -4.910986  -0.598528   0.526357   7.761042
2000-01-17  -3.515805  -1.229725  -1.087933   9.404437
2000-01-18  -2.640268  -1.212163  -0.431603   9.161110
2000-01-19  -3.225464  -2.956171   0.513889   9.560046
2000-01-20  -2.442082  -3.774900   1.089428   8.281341
2000-01-21  -1.324239  -3.730762   1.764860   9.196044
2000-01-22  -1.155599  -3.567743   2.818899   9.688366
2000-01-23  -3.218550  -3.800866   4.523380   9.466009
2000-01-24  -2.490423  -2.383205   4.818459  10.073114
2000-01-25  -3.441684  -2.687965   4.309607  12.407382
2000-01-26  -4.321988  -3.953600   3.558596  11.957462
2000-01-27  -5.702061  -3.343025   2.469913  11.601112
2000-01-28  -6.528327  -3.781293   1.668154  11.697453
2000-01-29  -6.767440  -4.694028   0.856874  13.003760
2000-01-30  -7.388600  -4.554101   0.548668  13.747894
...               ...        ...        ...        ...
2002-08-28  -7.908278  67.549085   8.481348  55.341907
2002-08-29  -8.128910  67.150649   8.817702  55.109688
2002-08-30  -8.216664  65.343380   8.530661  55.950869
2002-08-31  -9.121734  64.406376   9.017284  55.496892
2002-09-01  -8.410777  62.922854   8.238338  54.586776
2002-09-02  -8.103669  61.749448  10.218478  53.938747
2002-09-03  -9.672449  62.462627  11.039267  52.898175
2002-09-04  -9.412903  62.759808  12.007455  52.728789
2002-09-05 -10.366034  62.919164  13.183812  54.251448
2002-09-06 -10.748470  61.157973  12.813521  53.950311
2002-09-07 -11.423547  61.792282  13.519785  54.347509
2002-09-08 -12.029402  61.334283  13.374723  52.632623
2002-09-09 -12.527795  59.875346  12.863937  53.800697
2002-09-10 -13.929847  58.148292  13.128094  52.808896
2002-09-11 -14.818756  59.700040  13.229521  51.702282
2002-09-12 -15.012070  57.847942  13.606299  52.934429
2002-09-13 -13.845210  59.577935  14.005210  50.751627
2002-09-14 -14.045836  62.163106  12.932669  49.688364
2002-09-15 -14.196020  61.730328  12.832613  48.154940
2002-09-16 -15.191746  62.294683  13.856687  49.887823
2002-09-17 -15.290523  63.680458  14.309165  49.420372
2002-09-18 -16.129355  64.420943  13.183267  48.928589
2002-09-19 -14.745993  65.465462  14.336667  50.079375
2002-09-20 -15.827745  65.751390  16.602462  50.807834
2002-09-21 -13.486618  66.382894  18.519098  52.270327
2002-09-22 -13.312867  65.983486  19.445455  52.045869
2002-09-23 -15.079412  66.649144  21.053095  50.691459
2002-09-24 -14.383469  66.291947  20.801361  50.941442
2002-09-25 -16.342273  67.149825  19.704903  49.579112
2002-09-26 -15.230032  68.245307  20.457175  48.967932

[1000 rows x 4 columns]

### 13.3. Excel

In [151]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

In [152]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

                    A          B          C          D
2000-01-01   0.125963  -0.578460   1.042439  -0.794426
2000-01-02  -0.676516  -1.292368   0.784075   1.083318
2000-01-03  -0.494540  -2.179246   0.066460   4.513711
2000-01-04  -0.461766  -2.079718  -0.137835   4.093688
2000-01-05  -1.960442  -1.825936   1.171447   6.590814
2000-01-06  -1.867356  -1.168478   1.707503   5.274376
2000-01-07  -1.828050   0.658011   1.246147   6.083983
2000-01-08  -1.570826  -0.238284   1.974935   5.667500
2000-01-09  -2.542094  -1.394416   0.548245   5.675005
2000-01-10  -1.350773  -1.971715   0.485087   6.380812
2000-01-11  -2.791340  -2.073583   0.908680   5.386434
2000-01-12  -3.578275  -1.470668   0.936311   5.816716
2000-01-13  -4.446706  -3.973214   0.279952   6.096146
2000-01-14  -4.551872  -3.562373  -0.184510   5.724160
2000-01-15  -4.157203  -3.766302  -0.749773   7.467856
2000-01-16  -4.910986  -0.598528   0.526357   7.761042
2000-01-17  -3.515805  -1.229725  -1.087933   9.404437
2000-01-18  -2.640268  -1.212163  -0.431603   9.161110
2000-01-19  -3.225464  -2.956171   0.513889   9.560046
2000-01-20  -2.442082  -3.774900   1.089428   8.281341
2000-01-21  -1.324239  -3.730762   1.764860   9.196044
2000-01-22  -1.155599  -3.567743   2.818899   9.688366
2000-01-23  -3.218550  -3.800866   4.523380   9.466009
2000-01-24  -2.490423  -2.383205   4.818459  10.073114
2000-01-25  -3.441684  -2.687965   4.309607  12.407382
2000-01-26  -4.321988  -3.953600   3.558596  11.957462
2000-01-27  -5.702061  -3.343025   2.469913  11.601112
2000-01-28  -6.528327  -3.781293   1.668154  11.697453
2000-01-29  -6.767440  -4.694028   0.856874  13.003760
2000-01-30  -7.388600  -4.554101   0.548668  13.747894
...               ...        ...        ...        ...
2002-08-28  -7.908278  67.549085   8.481348  55.341907
2002-08-29  -8.128910  67.150649   8.817702  55.109688
2002-08-30  -8.216664  65.343380   8.530661  55.950869
2002-08-31  -9.121734  64.406376   9.017284  55.496892
2002-09-01  -8.410777  62.922854   8.238338  54.586776
2002-09-02  -8.103669  61.749448  10.218478  53.938747
2002-09-03  -9.672449  62.462627  11.039267  52.898175
2002-09-04  -9.412903  62.759808  12.007455  52.728789
2002-09-05 -10.366034  62.919164  13.183812  54.251448
2002-09-06 -10.748470  61.157973  12.813521  53.950311
2002-09-07 -11.423547  61.792282  13.519785  54.347509
2002-09-08 -12.029402  61.334283  13.374723  52.632623
2002-09-09 -12.527795  59.875346  12.863937  53.800697
2002-09-10 -13.929847  58.148292  13.128094  52.808896
2002-09-11 -14.818756  59.700040  13.229521  51.702282
2002-09-12 -15.012070  57.847942  13.606299  52.934429
2002-09-13 -13.845210  59.577935  14.005210  50.751627
2002-09-14 -14.045836  62.163106  12.932669  49.688364
2002-09-15 -14.196020  61.730328  12.832613  48.154940
2002-09-16 -15.191746  62.294683  13.856687  49.887823
2002-09-17 -15.290523  63.680458  14.309165  49.420372
2002-09-18 -16.129355  64.420943  13.183267  48.928589
2002-09-19 -14.745993  65.465462  14.336667  50.079375
2002-09-20 -15.827745  65.751390  16.602462  50.807834
2002-09-21 -13.486618  66.382894  18.519098  52.270327
2002-09-22 -13.312867  65.983486  19.445455  52.045869
2002-09-23 -15.079412  66.649144  21.053095  50.691459
2002-09-24 -14.383469  66.291947  20.801361  50.941442
2002-09-25 -16.342273  67.149825  19.704903  49.579112
2002-09-26 -15.230032  68.245307  20.457175  48.967932

[1000 rows x 4 columns]

## 14. Gotchas